.main-header{
    flex-direction: row;

}

.form-outline{
size:50px ;    
}
.Quantity{
display:flex
}
.h1{
position:center;
}
.h5{
margin : 25px;
padding: 0;
font-family:Raleway;
}
